@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}
@keyframes slide {
  from {
    left: var(--tower-position);
    top: 20%;
  }
  to {
    left: var(--enemy-position);
    top: 50%;
  }
}

.animate-slide {
  animation: slide 1s forwards;
}